{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{{ profile.user.email }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body {
            background-color: #000000;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>

    <div class="sign-in-form profile">
        <div class="profile-main">
            <div class="profile-avatar">
                    <img src="{{ profile.avatar.url }}" alt="{{ profile.user.email }}'s avatar" style="width:150px;height:150px;">
            </div>

            <div class="profile-info" >
                {{ profile.user.email }} <br>

                {% if profile.username is not None %}
                    {{ profile.username }}
                {% else %}
                    <div class="grey">no username</div>
                {% endif %}
            </div>
        </div>

        {{ profile.user.id|json_script:"profile_user_id" }}

        <div class="profile-btns">
            {% if profile.user == request.user %}
                <div class="profile-edit-btn">
                    <a href="{% url 'my_profile_update' %}">Edit profile</a></div>
            {% endif %}

            <input id="private_message_submit" type="button" value="Write" class="sign-in-btn">
            {% if profile.user == request.user %}
                <div class="profile-logout-btn">
                    <a href="{% url 'account_logout' %}">Logout</a></div>
            {% endif %}
        </div>
    </div>

    <script>
        $(function () {
            $('#private_message_submit').click(function () {
                const profileUserId = JSON.parse($('#profile_user_id').text());

                console.log(profileUserId);

                $.ajax({
                    url: '/chat/private/create_private_chat/',
                    data: { 'profile_user': profileUserId },
                    type: 'get',
                    cache: false,
                    success: function(data) {
                        if (data) {
                            window.location.href = `/chat/private/create_private_chat/?profile_user=${profileUserId}`;
                        } else {
                            console.error('Chat ID not found');
                        }
                    },
                    error: function(error) {
                        console.error('Error creating private chat:', error);
                    }
                });
            });
        });
    </script>
</body>
</html>