{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Profile List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body {
            background-color: #000000;
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body>
    {% for profile in profile_list %}
        <div class="chats_names_list"><a href="{% url 'profile_detail' pk=profile.id %}" target="_blank">
            {{ profile.user.email }}</a></div>
    {% endfor %}
</body>
</html>